# 忽略环境变量
.env
.env.local
.env.*.local

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE 配置
.idea/
.vscode/
*.swp
*.swo

# 数据集（太大，不上传 GitHub）
data/*.csv
data/*.zip

# 日志
logs/
*.log

# FAISS vector index
faiss.index
faiss_meta.npy
faiss_rag_index/

# 向量缓存
*.faiss
*.npy
*.pkl